.footer {
    
  
  height: 60px;
  width: 100%;
  background-color: #849974;
  color: white;
  text-align: center;
}

.footer p {
    font-size: 20px;
    margin : 0px;
    padding-top: 15px;
    padding-right: 15px;
    display: inline-block;
}
a{
  color:black;
}

#copy {
  display: block;
  float: right;
}
